<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">Team Gathering</a>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/profiles']">Profiles</a>
        </li> -->
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/projects']">Projects</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/explore']">Explore</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/profile-list']">Associates</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/profile-project']">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/task-list']">tasks</a>
        </li>
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.name | titlecase}}
        </a>
        <!-- +authService.profile_id -->
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/profile-info/', authService.profile_id ]"><i class="fa fa-user"></i>   View Profile</a>
          <a class="dropdown-item" [routerLink]="['/profile/edit/']"><i class="fa fa-cog"></i> Edit Profile</a>
          <a class="dropdown-item" [routerLink]="['/profile/edit-account/']"><i class="fa fa-user-circle"></i> Edit Account</a>
          <a class="dropdown-item" [routerLink]="['/messages']"><i class="fa fa-envelope "></i> Messages</a>
          <a class="dropdown-item" [routerLink]="['/requests']"><i class="fa fa-send "></i> requests</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a>
        </div>
      </div>
      
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="email" placeholder="Email" required [(ngModel)]="model.email">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  </div>
</nav>