<div class="container mt-4">
  <div>
    <div class="col-sm-8">
      <h1>Requests</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="updateRequestForm.dirty">
        <strong>Information: </strong>You have made changes. Any unsaved changes will be lost
      </div>
    </div>
  </div>
  <div class="tab-panel">
    <tabset class="request-tabset">
      <tab heading="Project Requests">
        <h3 class="mt-3 mb-3">Requests For Projects</h3>
        <div *ngFor="let request of requests_project"> 
          <div *ngIf="request.request_status == 'pending'">
            <ol>
              <li class="container">
                <form [formGroup]="updateRequestForm" (ngSubmit)="updateRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Request From:  <a [routerLink]="['/profile-info/', request.requester_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <div class="form-group row">
                    <div class="ml-3 group">
                      <strong>Status:</strong>
                      <select formControlName="status">
                        <option [ngValue]="null" disabled>pending</option>
                        <option *ngFor="let status of request_status_selectables" [ngValue]="status">
                        {{ status }}
                        </option>
                      </select>
                    </div>
                    <div class="ml-4 group">
                      <strong>Team:</strong>
                      <select formControlName="team_id">
                        <option [ngValue]="null" disabled>Select Assigned Team</option>
                        <option *ngFor="let team of teams" [ngValue]="team.team_id">
                        {{ team.team_name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="group">
                    <input type="text" 
                    [ngClass]="{'is-invalid': updateRequestForm.get('role').errors && updateRequestForm.get('role').touched }"
                    class="form-control mb-2" 
                    maxlength="255"
                    formControlName="role" 
                    placeholder="Role">
                    <div class="invalid-feedback" *ngIf="updateRequestForm.get('role').hasError('required') && updateRequestForm.get('role').touched">role cannot be empty</div>
                  </div>  
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-success" type="submit" [disabled]="!updateRequestForm.valid">Save</button>
                  </div>
                </form> 
              </li>
            </ol>
          </div>
          <div *ngIf="request.request_status == 'approved'">
            <ol>
              <li class="container">
                <form #deleteRequestForm="ngForm" (ngSubmit)="deleteRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Requested To:  <a [routerLink]="['/profile-info/', request.requester_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <div class="form-group row">
                    <div class="ml-3 group">
                    <strong>Status: {{request.request_status}}</strong>
                    </div>
                  </div> 
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Delete</button>
                    <!-- <button class="btn btn-warning" type="reset">Reset</button> -->
                  </div>
                </form>  
              </li>
            </ol> 
          </div>
          <div *ngIf="request.request_status == 'unapproved'">
            <ol>
              <li class="container">
                <form #deleteRequestForm="ngForm" (ngSubmit)="deleteRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Requested To:  <a [routerLink]="['/profile-info/', request.requester_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <div class="form-group row">
                    <div class="ml-3 group">
                    <strong>Status: {{request.request_status}}</strong>
                    </div>
                  </div> 
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Delete</button>
                    <!-- <button class="btn btn-warning" type="reset">Reset</button> -->
                  </div>
                </form>  
              </li>
            </ol>
          </div>
          <hr>
        </div>
      </tab>
      <tab heading="Your Requests">
        <h3 class="mt-3 mb-3">Requests You Made</h3>
        <div *ngFor="let request of requests_profile"> 
          <div *ngIf="request.request_status == 'pending'">
            <ol>
              <li class="container row">
                <form #deleteRequestForm="ngForm" (ngSubmit)="deleteRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Requested To:  <a [routerLink]="['/profile-info/', request.requestee_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <p><strong>Status:</strong> {{request.request_status}}</p>
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Delete</button>
                    <!-- <button class="btn btn-warning" type="reset">Reset</button> -->
                  </div>
                </form>  
              </li>
            </ol>
          </div>
          <div *ngIf="request.request_status == 'approved'">
            <ol>
              <li class="container">
                <form #deleteRequestForm="ngForm" (ngSubmit)="deleteRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Requested To:  <a [routerLink]="['/profile-info/', request.requestee_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <div class="form-group row">
                    <div class="ml-3 group">
                    <strong>Status: {{request.request_status}}</strong>
                    </div>
                  </div> 
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Delete</button>
                    <!-- <button class="btn btn-warning" type="reset">Reset</button> -->
                  </div>
                </form>  
              </li>
            </ol>
          </div>
          <div *ngIf="request.request_status == 'unapproved'">
            <ol>
              <li class="container">
                <form #deleteRequestForm="ngForm" (ngSubmit)="deleteRequest(request)">
                  <p>Project:  <a [routerLink]="['/project-info/', request.project_id]"> {{request.project_name}}</a>, Requested To:  <a [routerLink]="['/profile-info/', request.requestee_id]">{{request.first_name}} {{request.last_name}}</a></p>
                  <div class="form-group row">
                    <div class="ml-3 group">
                    <strong>Status: {{request.request_status}}</strong>
                    </div>
                  </div> 
                  <p>requested on: {{request.created_date | date: 'mediumDate' }}, changed on: {{request.updated_date | date: 'mediumDate' }}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Delete</button>
                  </div>
                </form>  
              </li>
            </ol>
          </div>
          <hr>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<div class="container mb-4"></div>
  
  
  
  
  
  