<div class="container">
  <form #submitImage="ngForm" (ngSubmit)="saveProfileImage($event)">
    <div class="row" style="margin-top: 5%;">
        <div class="text-center col-md-12">
            <input type="file" (change)="fileChangeEvent($event)" />
        </div>
    </div>
    <div style="margin-top: 5%;">
        <div class="col-md-11">
            <h5>Crop Image</h5>
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="4 / 4"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col-md-4">
            <h5>Preview</h5>
            <img [src]="croppedImage" />
        </div>
    </div>
    <div class="card-footer">
        <div>
            <input type="file" hidden id="file">
            <button class="btn btn-success btn-block" [disabled]="!croppedImage">Save Image</button>
        </div>
    </div>
  </form>
</div>