<div class="container">
  <form #submitImage="ngForm" (ngSubmit)="saveProfileImage($event)">
    <div class="row" style="margin-top: 5%;">
        <div class="text-center col-md-12">
            <input type="file" (change)="fileChangeEvent($event)" />
        </div>
    </div>
    <div style="margin-top: 5%;">
        <div class="col-md-11">
            <h6>Crop Image</h6>
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="4 / 4"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col-md-4">
            <h6>Current/Preview</h6>
            <img [src]="croppedImage" />
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group d-flex">
            <input type="file" hidden id="file">
            <button class="btn btn-success w-100" [disabled]="!imageSubmitted" type="submit">Save Image</button>
            <button class="w-100" (click)='deleteProfileImage()' type="button" *ngIf="page == 'profile'" [disabled]="image == 'https://res.cloudinary.com/dqd4ouqyf/image/upload/v1578609526/default_user.png'"><i class="fa fa-trash fa-lg"></i></button>
            <button class="w-100" (click)='deleteProjectImage()' type="button" *ngIf="page == 'project'" [disabled]="image == 'https://res.cloudinary.com/dqd4ouqyf/image/upload/v1578609526/default_project.png'"><i class="fa fa-trash fa-lg"></i></button>
        </div>
    </div>
<!-- 
    <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn-secondary w-100">Like</button>
          <button class="btn-secondary w-100">Message</button>
        </div>
      </div> -->




  </form>
</div>