<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{profile_info?.image}}" alt="{{profile_info?.first_name}}">
          <div class="card-body">
            <div>
              <strong>Name:</strong>
              <p>{{profile_info?.first_name | titlecase}} {{profile_info?.last_name | titlecase}}</p>
            </div>

            <div *ngIf="!!profile_info?.city && !!profile_info?.state">
              <strong>Location:</strong>
              <p>{{profile_info?.city}}, {{profile_info?.state}}</p>
            </div>

            <!-- <div>
              <strong>Last Active:</strong>
              <p>{{profile_info?.lastActive}}</p>
            </div>   -->
            <div>
              <strong>Created:</strong>
              <p>{{profile_info?.created_date | date: 'mediumDate' }}</p>
            </div>  
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex" *ngIf="authService.checkTokenExists() != null">
              <button class="btn-secondary w-100">Like</button>
              <button class="btn-secondary w-100">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="profile-tabset">
            <tab heading="About">
              <hr>
              <h4>About Me</h4>
              <p>{{profile_info?.description}}</p>
              <h4>Looking For</h4>
              <p>{{profile_info?.looking_for}}</p>
              <h4>Skills</h4>
              <div class="container mt-2">
                <div class="row">
                  <div class="col-lg-auto col-md-auto col-sm-auto mb-2" *ngFor="let tag of profile_info?.tags">
                    <button type="button" class="btn btn-secondary button-radius-badge default-cursor">
                      <span>{{tag.tag_name}}</span>
                    </button>
                  </div>
                </div>
              </div>
              <hr>
            </tab> 
            <tab heading="Projects">
                <div *ngFor="let project of profile_info?.projects">
                  <hr>
                  <h4><a [routerLink]="['/project-info/', project.project_id]">{{project.project_name}}</a></h4>
                  <h5>Role: {{project.project_role}}</h5>
                  <h5>Status: {{project.project_status}}</h5>
                  <h5>Created: {{project.created_date | date: 'mediumDate' }}</h5>
                  <hr>
                </div>
              </tab> 
            <tab heading="Teams">
              <div *ngFor="let team of profile_info?.teams">
                <hr>
                <h4>{{team.team_name}}</h4>
                <h5>Role: {{team.role}}</h5>
                <h5>Joined: {{team.joined_date | date: 'mediumDate'}}</h5>
                <h5 [ngClass]="statusClassCheck(team)">Status: {{team.profile_team_status}}</h5>
                <hr>
              </div>
            </tab> 
            <tab heading="Messages">
                <h5>Messages</h5>
            </tab> 
          </tabset>
        </div>
      </div>
    </div>
</div>
<div class="container mb-4"></div>





