<div class="card mt-4">
  <div class="card-img-wrapper">
  <img class="card-img-top" src="{{project.image}}" alt="{{project.project_name}}" onerror="this.src='./../../../assets/site-images/Default.jpg';">
  </div>
  <div class="card-body p-1">
    <h5 class="card-title">{{project.project_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-truncate"><a class="card-link" [routerLink]="['/profile-info/', project.owner_id]">{{project.first_name || 'owner'}} {{project.last_name}}</a></h6>
    <p class="card-text">{{project.short_description}}</p>
    <a class="card-link" [routerLink]="['/project-info/', project.project_id]">View Project</a>
    <a class="card-link" [routerLink]="['/requests/', project.project_id]">Request to Join</a>
  </div>
</div>
<div class="mb-5"></div>