<div class="container mt-4">
    <div class="row">
      <div class="col-sm-8">
        <h1>Team Edit</h1>
      </div>
      <div class="col-sm-4 mt-2">
          <button class="btn btn-warning btn-block" (click)="changeDeleteState(true)" *ngIf="deleteState == false">Delete Team</button>  
          <button class="btn btn-success btn-block" (click)="changeDeleteState(false)" *ngIf="deleteState == true">cancel</button>  
        </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4" *ngIf="deleteState == true">
      <p class="warning">To Delete Team, Type DELETE.</p>
      <form [formGroup]="deleteTeamForm" (ngSubmit)="deleteTeam()">
        <div class="form-group mb-4">
          <input type="text" 
          [ngClass]="{'is-invalid': deleteTeamForm.get('deleteText').errors && deleteTeamForm.get('deleteText').touched }"
          class="form-control mb-2" 
          formControlName="deleteText" 
          placeholder="type DELETE">
          <div class="invalid-feedback" *ngIf="deleteTeamForm.get('deleteText').hasError('pattern') && deleteTeamForm.get('deleteText').touched">to delete team, type DELETE</div>
        </div> 
        <div class="form-group">
            <input type="password" 
            [ngClass]="{'is-invalid': deleteTeamForm.get('password').errors && deleteTeamForm.get('password').touched }"
            class="form-control mt-4" 
            formControlName="password" 
            placeholder="password">
            <div class="invalid-feedback" *ngIf="deleteTeamForm.get('password').hasError('required') && deleteTeamForm.get('password').touched">Password is required &nbsp;</div>
            <div class="invalid-feedback" *ngIf="deleteTeamForm.get('password').hasError('minlength') && deleteTeamForm.get('password').touched">password must be at least 4 characters</div>
            <div class="invalid-feedback" *ngIf="deleteTeamForm.get('password').hasError('maxlength') && deleteTeamForm.get('password').touched">password must be less than 16 characters</div>
        </div> 
        <button class="btn btn-warning btn-block" [disabled]="!deleteTeamForm.valid">Delete Team</button>
      </form>
    </div>
    <div class="mb-4">
      <form [formGroup]="teamInfoForm" (ngSubmit)="updateTeamInfo()">
        <div>
          <div class="form-group mb-4">
            <h4>Team Name</h4>
            <input type="text" 
            [ngClass]="{'is-invalid': teamInfoForm.get('team_name').errors && teamInfoForm.get('team_name').touched }"
            class="form-control mb-2" 
            formControlName="team_name" 
            placeholder="team_name">
            <div class="invalid-feedback" *ngIf="teamInfoForm.get('team_name').hasError('required') && teamInfoForm.get('team_name').touched">title cannot be empty</div>
          </div> 
          <div class="form-group mb-4">
              <h4>Team Description</h4>
              <textarea name="team_description" id="team_description" cols="30" rows="6" class="form-control" formControlName="team_description"></textarea>
            <div class="invalid-feedback" *ngIf="teamInfoForm.get('team_description').hasError('required') && teamInfoForm.get('team_description').touched">title cannot be empty</div>
          </div> 
        </div>
        <div class="btn-group">
            <button class="btn btn-success" type="submit" [disabled]="!teamInfoForm.valid">Update</button>
          </div>
      </form>
    </div>

    <div class="tab-panel">
      <tabset class="profiles-tabset">
        <tab heading="Active Memebers">
          <h3 class="mt-3 mb-3">Active Members</h3>
          <div *ngFor="let profile of team_info.profiles"> 
            <div *ngIf="profile.profile_team_status == 'inactive'">
              <ol>
                <li class="container">
                  <form [formGroup]="profileInfoForm" (ngSubmit)="updateProfileInfo(profile)">
                  <div class="group">
                    <input type="text" 
                    [ngClass]="{'is-invalid': profileInfoForm.get('role').errors && profileInfoForm.get('role').touched }"
                    class="form-control mb-2" 
                    formControlName="role" 
                    placeholder="Role">
                    <div class="invalid-feedback" *ngIf="profileInfoForm.get('role').hasError('required') && profileInfoForm.get('role').touched">role cannot be empty</div>
                  </div>  
                  <div class="form-group row">
                    <div class="ml-3 group">
                      <strong>Status:</strong>
                      <select formControlName="status">
                        <option [ngValue]="null" disabled>active</option>
                        <option *ngFor="let status of profile_status_selectables" [ngValue]="status">
                        {{ status }}
                        </option>
                      </select>
                    </div>
                  </div> 
                  <p>Joined: {{profile.joined_date | date: 'mediumDate' }}, to: {{profile.ended_date | date: 'mediumDate'}}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Update</button>
                  </div>

                  </form> 
                  <div class="btn-group">
                    <button class="btn btn-warning" (click)="deleteProfileFromTeam()")>Delete</button>
                  </div>
                </li>
              </ol>
            </div>
            <hr>
          </div>
        </tab>
        <tab heading="Inactive Members">
          <h3 class="mt-3 mb-3">Inactive Members</h3>
          <div *ngFor="let profile of team_info.profiles"> 
            <div *ngIf="profile.profile_team_status == 'active'">
              <ol>
                <li class="container">
                  <form [formGroup]="profileInfoForm" (ngSubmit)="updateProfileInfo(profile)">
                  <div class="group">
                    <input type="text" 
                    [ngClass]="{'is-invalid': profileInfoForm.get('role').errors && profileInfoForm.get('role').touched }"
                    class="form-control mb-2" 
                    formControlName="role" 
                    placeholder="Role">
                    <div class="invalid-feedback" *ngIf="profileInfoForm.get('role').hasError('required') && profileInfoForm.get('role').touched">role cannot be empty</div>
                  </div>  
                  <div class="form-group row">
                    <div class="ml-3 group">
                      <strong>Status:</strong>
                      <select formControlName="status">
                        <option [ngValue]="null" disabled>active</option>
                        <option *ngFor="let status of profile_status_selectables" [ngValue]="status">
                        {{ status }}
                        </option>
                      </select>
                    </div>
                  </div> 
                  <p>Joined: {{profile.joined_date | date: 'mediumDate' }}, to: {{profile.ended_date | date: 'mediumDate'}}</p>
                  <div class="btn-group">
                    <button class="btn btn-warning" type="submit">Update</button>
                  </div>

                  </form> 
                  <div class="btn-group">
                    <button class="btn btn-warning" (click)="deleteProfileFromTeam()")>Delete</button>
                  </div>
                </li>
              </ol>
            </div>
            <hr>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="container mb-4"></div>