<!-- The Modal -->
<form [formGroup]="forgotPassword" (ngSubmit)="forgotPasswordSend()" *ngIf="forgotPasswordModalState = '2'">
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Forgot Password?</h4>
          <!-- <button type="button" class="close" (click)="hideModal()">&times;</button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <input type="text" 
            [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched }"
            class="form-control" 
            formControlName="email" 
            placeholder="email">
            <div class="invalid-feedback" *ngIf="registerForm.get('email').errors && registerForm.get('email').touched">Please enter an email</div>
          </div> 
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-success" type="submit" [disabled]="!forgotPasswordForm.valid">Send</button>
          <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>

          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- The Modal -->
<form [formGroup]="forgotPasswordSetPassword" (ngSubmit)="forgotPasswordSetPasswordSend()" *ngIf="forgotPasswordModalState = '3'">
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">A key has been sent to your email, please enter the key and you're new password</h4>
          <!-- <button type="button" class="close" (click)="hideModal()">&times;</button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <input type="text" 
            [ngClass]="{'is-invalid': registerForm.get('key').errors && registerForm.get('key').touched }"
            class="form-control" 
            formControlName="key" 
            placeholder="key">
            <div class="invalid-feedback" *ngIf="registerForm.get('key').errors && registerForm.get('key').touched">Please enter an email</div>
          </div> 

          <div class="form-group">
            <input type="password" 
            [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched }"
            class="form-control" 
            formControlName="password" 
            placeholder="password">
            <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required &nbsp;</div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">password must be at least 4 characters</div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">password must be less than 16 characters</div>
          </div> 
      
          <div class="form-group">
            <input type="password" 
            [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
            && registerForm.get('confirmPassword').touched
            || registerForm.get('confirmPassword').touched
            && registerForm.hasError('mismatch') }"
            class="form-control" 
            formControlName="confirmPassword" 
            placeholder=" confirm password">
            <div class="invalid-feedback">
              <span *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">passwords is required &nbsp;</span>
              <span *ngIf="registerForm.hasError('mismatch')">passwords do not match</span>
            </div>
          </div> 
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-success" type="submit" [disabled]="!forgotPasswordForm.valid">Send</button>
          <button type="button" class="btn btn-danger" (click)="closePasswordModal('1')">Close</button>

          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>