<!-- Footer -->
  <footer class="footer mt-auto py-3 font-small bg-primary mt-2">

    <div>
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-1 d-flex align-items-center">
        </div>
        <!-- Grid row-->
  
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Social</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="fb-ic">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </p>
          <p>
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </p>
          <p>
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </p>
          <p>
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </p>
        </div>
          <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Support</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a [routerLink]="['/help']" routerLinkActive="router-link-active" >Help</a>
          </p>
          <p>
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
          </p>
          <p>
            <a [routerLink]="['/termsandconditions']" routerLinkActive="router-link-active" >Terms and Conditions</a>
          </p>
          <p>
            <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" >Privacy Policy</a>
          </p>
  
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Company</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
            </p>
            <p>
              <a [routerLink]="['/blog']" routerLinkActive="router-link-active" >Blog</a>
            </p>
            <p>
              <a [routerLink]="['/careers']" routerLinkActive="router-link-active" >Careers</a>
            </p>
            <p>
              <a [routerLink]="['/press']" routerLinkActive="router-link-active" >Press</a>
            </p>
    
          </div>
          <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> San Francisco, CA, US</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@teamgathering.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{date}} Copyright:
      <a href="/"> teamgathering.com</a>
    </div>
    <!-- Copyright -->
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=bLkcD91rT0hxawMyaKzCuBBPozoAxCaLVssQ77w41yt84zmw0bIKnbNUi4tk"></script></span>
  
  </footer>
  <!-- Footer -->

