<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information: </strong>You have made changes. Any unsaved changes will be lost
      </div>
    </div>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="updateProfile()">
  <div class="row">
    <div class="col-sm-4" *ngIf="state=='profile'">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{profile_info?.image}}" alt="{{profile_info?.first_name}}" onerror="this.src='./../../../assets/profile-images/Default_user.jpg';">
        <p class="text-center"><button (click)="changeState('photo')">edit image</button>
          <!-- <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
          <button (click)="fileInput.click()">Select File</button>
          <button (click)="onUpload()">Upload!</button> -->
        </p>
        <div class="card-body">







            <div class="form-group mb-4">
                <input type="text" 
                [ngClass]="{'is-invalid': editForm.get('first_name').errors && editForm.get('first_name').touched }"
                class="form-control mb-2" 
                formControlName="first_name" 
                placeholder="first name"
                >
                <div class="invalid-feedback" *ngIf="editForm.get('first_name').hasError('required') && editForm.get('first_name').touched">first name cannot be empty</div>
              </div> 

              <div class="form-group mb-4">
                <input type="text" 
                [ngClass]="{'is-invalid': editForm.get('last_name').errors && editForm.get('last_name').touched }"
                class="form-control mb-2" 
                formControlName="last_name" 
                placeholder="last name"
                >
                <div class="invalid-feedback" *ngIf="editForm.get('last_name').hasError('required') && editForm.get('last_name').touched">last name cannot be empty</div>
              </div> 

              <div class="form-group mb-4">
                  <input type="text" 
                  [ngClass]="{'is-invalid': editForm.get('zip_code').errors && editForm.get('zip_code').touched }"
                  class="form-control mb-2" 
                  formControlName="zip_code" 
                  placeholder="zip code"
                  >
                  <div class="invalid-feedback" *ngIf="editForm.get('zip_code').hasError('required') && editForm.get('zip_code').touched">zip code cannot be empty</div>
                  <div class="invalid-feedback" *ngIf="( editForm.get('zip_code').hasError('minlength') ) || ( editForm.get('zip_code').hasError('maxlength') || editForm.get('zip_code').hasError('pattern') )">please enter correct zip code</div>
              </div> 
          <div>
            <strong>Created:</strong>
            <p>{{profile_info?.created_date}}</p>
          </div>  
        </div>
        <div class="card-footer">
          <div>
            <button class="btn btn-success btn-block" [disabled]="!editForm.valid">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="state=='photo'">
      <div class="card">
        <app-photos [image]="profile_info.image" 
        (onPhotoSaveSetPhoto)="setPhoto($event)" 
        (onPhotoSaveSetState)="changeState($event)"
        [page]="page" ></app-photos>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="profile-tabset">
          <tab heading="About {{ profile_info?.profile_name || 'profile'}}">
            <hr>
            <h4>About Me</h4>
            <textarea name="description" id="description" cols="30" rows="6" class="form-control" formControlName="description"></textarea>
            <!-- <p>{{profile_info?.description}}</p> -->
            <h4>Looking For</h4>
            <textarea name="looking_for" id="looking_for" cols="30" rows="6" class="form-control" formControlName="looking_for"></textarea>
            <!-- <p>{{profile_info?.looking_for}}</p> -->
            <h4>Skills</h4>
            <label for="skill">Add Skill</label>
            <input type="text" class="form-control" name="skill">
            <hr>
          </tab> 
          <tab heading="Projects">
              <div *ngFor="let project of profile_info?.projects">
                <hr>
                <h4><a [routerLink]="['/projects/', project.project_id]">{{project.project_name}}</a><span class="ml-4">Edit</span></h4>
                <h5>Roll</h5>
                <p>{{project.project_roll}}</p>
                <h5>Status</h5>
                <p>{{project.project_status}}</p>
                <h5>Created</h5>
                <p>{{project.created_date}}</p>
                <hr>
              </div>
            </tab> 
          <tab heading="Teams">
            <div *ngFor="let team of profile_info?.teams">
              <hr>
              <h4><a [routerLink]="['/teams/', team.team_id]">{{team.team_name}}</a></h4>
              <h5>role</h5>
              <p>{{team.role}}</p>
              <h5>Joined</h5>
              <p>{{team.joined_date}}</p>
              <h5>Status</h5>
              <p>{{team.profile_team_status}}</p>
              <hr>
            </div>
          </tab> 
          <tab heading="Messages">
              <h5>Messages</h5>
          </tab> 
        </tabset>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="container mb-4"></div>