<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information: </strong>You have made changes. Any unsaved changes will be lost
      </div>
    </div>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="updateProfile()">
  <div class="row">
    <div class="col-sm-4" *ngIf="state=='profile'">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{profile_info?.image || './../../../assets/profile-images/Default_user.jpg' }}" alt="{{profile_info?.first_name}}">
        <p class="text-center"><button (click)="changeState('photo')">edit image</button>
        </p>
        <div class="card-body">
            <div class="form-group mb-4">
                <input type="text" 
                [ngClass]="{'is-invalid': editForm.get('first_name').errors && editForm.get('first_name').touched }"
                class="form-control mb-2" 
                formControlName="first_name" 
                placeholder="first name"
                >
                <div class="invalid-feedback" *ngIf="editForm.get('first_name').hasError('required') && editForm.get('first_name').touched">first name cannot be empty</div>
              </div> 

              <div class="form-group mb-4">
                <input type="text" 
                [ngClass]="{'is-invalid': editForm.get('last_name').errors && editForm.get('last_name').touched }"
                class="form-control mb-2" 
                formControlName="last_name" 
                placeholder="last name"
                >
                <div class="invalid-feedback" *ngIf="editForm.get('last_name').hasError('required') && editForm.get('last_name').touched">last name cannot be empty</div>
              </div> 

              <div class="form-group mb-4">
                  <input type="text" 
                  [ngClass]="{'is-invalid': editForm.get('zip_code').errors && editForm.get('zip_code').touched }"
                  class="form-control mb-2" 
                  formControlName="zip_code" 
                  placeholder="zip code"
                  >
                  <div class="invalid-feedback" *ngIf="editForm.get('zip_code').hasError('required') && editForm.get('zip_code').touched">zip code cannot be empty</div>
                  <div class="invalid-feedback" *ngIf="( editForm.get('zip_code').hasError('minlength') ) || ( editForm.get('zip_code').hasError('maxlength') || editForm.get('zip_code').hasError('pattern') )">please enter correct zip code</div>
              </div> 
          <div>
            <strong>Created:</strong>
            <p>{{profile_info?.created_date | date: 'mediumDate'}}</p>
          </div>  
        </div>
        <div class="card-footer">
          <div>
            <button class="btn btn-success btn-block" [disabled]="!editForm.valid">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="state=='photo'">
      <div class="card">
        <app-photos [image]="profile_info.image" 
        (onPhotoSaveSetPhoto)="setPhoto($event)" 
        (onPhotoSaveSetState)="changeState($event)"
        [page]="page" ></app-photos>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="profile-tabset">
          <tab heading="About {{ profile_info?.profile_name || 'profile'}}">
            <hr>
            <h4>About Me</h4>
            <textarea name="description" id="description" cols="30" rows="6" class="form-control" formControlName="description"></textarea>
            <!-- <p>{{profile_info?.description}}</p> -->
            <h4>Looking For</h4>
            <textarea name="looking_for" id="looking_for" cols="30" rows="6" class="form-control" formControlName="looking_for"></textarea>
            <!-- <p>{{profile_info?.looking_for}}</p> -->
            <h4>Skills</h4>
            <app-tag-profile (returnTag)="addTag($event)" [page]="page" (enter)="onEnter()"></app-tag-profile>
            <div class="container mt-2">
              <div class="row">
                <div class="col-lg-auto col-md-auto col-sm-auto mb-2" *ngFor="let tag of profile_info?.tags">
                  <button type="button" class="btn btn-secondary button-radius-badge default-cursor">
                    <span>{{tag.tag_name}}</span>
                  </button>
                  <button  type="button" class="btn btn-danger button-radius-delete-badge default-cursor" (click)="deleteTag(tag)">X</button>
                </div>
              </div>
            </div>
            <hr>
          </tab> 
          <tab heading="Projects">
            <a [routerLink]="['/project/add']">Add Project</a>
            <div *ngFor="let project of profile_info?.projects">
              <hr>
              <h4>
                <a [routerLink]="['/project-info/', project.project_id]">{{project.project_name}}</a>
                <a [routerLink]="['/project/edit/', project.project_id]" class="ml-4">Edit</a>
              </h4>
              <h5>Role: {{project.project_role}}</h5>
              <h5>Status: {{project.project_status}}</h5>
              <h5>Created: {{project.created_date | date: 'mediumDate'}}</h5>
              <hr>
            </div>
          </tab> 
          <tab heading="Teams">
            <a [routerLink]="['/team/add']">Add Team</a>
            <div *ngIf="profile_info?.teams.length != 0">
              <div *ngFor="let team of profile_info?.teams">
                <hr>
                <h4>
                  <!-- <a [routerLink]="['/teams/', team.team_id]">{{team.team_name}}</a> -->
                  {{team.team_name}}
                  <a [routerLink]="['/team/edit/', team.team_id]" class="ml-4" *ngIf="team.role == 'Owner'">Edit</a>
                </h4>
                <h5>Role: {{team.role}}</h5>
                <h5>{{team.joined_date | date: 'mediumDate' }} - <span *ngIf="!toPresentCheck(team.ended_date)"> {{team.joined_date | date: 'mediumDate' }}</span><span *ngIf="toPresentCheck(team.ended_date)">Present</span></h5>
                <h5 [ngClass]="statusClassCheck(team)">Status: {{team.profile_team_status}}</h5>
                <hr>
              </div>
            </div>
            <div *ngIf="profile_info?.follows.length == 0">
              <p>you are not on any teams</p>
            </div>
          </tab> 
          <tab heading="Following">
            <div *ngIf="profile_info?.follows.length != 0">
              <ol>
                <div *ngFor="let follow of profile_info?.follows">
                  <hr>
                  <li>
                    <h4>
                      <a [routerLink]="['/project-info/', follow.project_id]">{{follow.project_name}}</a>
                      <button  type="button" class="btn btn-xs btn-danger ml-3" (click)="deleteFollow(follow)">Unfollow</button>
                    </h4>
                  </li>
                </div>
              </ol>
            </div>
            <div *ngIf="profile_info?.follows.length == 0">
              <p>you are not following any projects</p>
            </div>
          </tab> 
        </tabset>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="container mb-4"></div>
