<div class="container">

  <div *ngFor="let team of teams_array" >
    <hr>
    <h4 class="mr-2">{{team.team_name}}<span class="ml-2 mr-2">-</span>{{team.project_name}}</h4>
    <hr>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div *ngFor="let profile of profiles" >
          <div *ngIf="profile.team_id == team.team_id">
            <app-profile-card [profile]='profile'></app-profile-card>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>
