<div class="border" *ngIf="page == 'project'">
  <mat-form-field class="ml-2">
    <input matInput placeholder="add skills" 
    [matAutocomplete]="auto" 
    [formControl]="searchTagsCtrl" 
    type="text" 
    name="tag_name"
    >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let tag of filtered_tags" [value]="tag.tag_name">
          <span>- {{tag.tag_name}} -</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>